<h1>No more public transport jungle!</h1>
<p>The 9-Euro-Ticket has proven, that people are hindered from freely travelling
    not only by high prices, but also by the hard to navigate web of German
    public transport networks.</p>
<p>We demand the abolition of the regional transport networks and propose the
    introduction of ONE big national public transport network.</p>
<p>With just one "Monatsticket" you should be able to take any region train,
    tram, subway, bus or commmuter-ferry in the entire country.</p>
<h2>Do you agree?</h2>
<h2>Then sign our petition!</h2>
<form method="POST">
    <label for="firstName" class="formLabel">First Name</label>
    <input type="text" name="firstName" id="firstName" />
    <label for="lastName" class="formLabel">Last Name</label>
    <input type="text" name="lastName" id="lastName" />
    <input
        type="text"
        name="signatureURL"
        id="signatureURL"
        class="invisible"
    />
    <button id="submitSignature" class="submit">SUBMIT</button>
</form>
<label for="sigField">Sign your name with your mouse or finger here:</label>
<canvas width="600" height="200" id="sigField" name="sigField"></canvas>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
></script>
<script src="canvas.js"></script>