<h1>No more public transport jungle!</h1>
<p>The 9-Euro-Ticket has proven, that people are hindered from freely travelling
    not only by high prices, but also by the <span class="bold">hard to navigate web of German
    public transport networks.</span></p>
<p>We demand the <span class="bold"> abolition of the regional transport networks</span> and propose the
    introduction of <span class="bold">ONE big national public transport network.</span></p>
<p>With just <span class="bold">ONE "Monatsticket"</span> you should be able to take <span class="bold">ANY regional train,
    tram, subway, bus or commmuter-ferry in the entire country.</span></p>
<h2>Do you agree? Then sign our petition!</h2>
<form method="POST" class="petition-form">
    <input type="text" name="signatureURL" id="signatureURL" class="invisible"/>
    {{!-- Div to contain signature canvas (created by canvas2.js). Data-error contains css class for canvas to grab, if there is an error. --}}
    <div class="signature" data-error="{{#if signingFailed}}{{#if signatureURL}}{{else}}red-border{{/if}}{{/if}}">
        <label for="sigField" class="formlabel bold" id="label-for-canvas">Sign your name with your mouse or finger here:</label>
        <p class="deleteCanvas">Delete Signature Field</p>
        {{!-- Show error message, if error occured --}}
        {{#if signingFailed}}<p class="red bold">You have not filled in all the required fields. Please check again and resubmit!</p>{{/if}}
        <input type="submit" id="submitSignature" class="submit" value="SIGN NOW!"></input>

    </div>
</form>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script src="./canvas2.js"></script>
