
<h1>No more public transport jungle!</h1>
<h2>If you would like, feel free to add some additional information about you!</h2>
<form method="POST" class="petition-form">
    <label for="age" min="18" max="130" class="formLabel bold">Your age:</label>
    <input type="number" name="age" id="age"/>
    <label for="city" class="formLabel bold">City:</label>
    <input type="text" name="city" id="city"/>
    <label for="userUrl" class="formLabel bold">Your website:</label>
    <input type="text" name="userUrl" id="userUrl"/>

    <input type="submit" id="submitSignature" class="submit" value="GO SIGN!"></input>
</form>
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
<script src=""></script>
