<div class="placeholder">
    <h2>We, the undersigned, demand the abolition of regional German public transportation networks and and propose the
    introduction of ONE big national public transport network.</h2>
    {{#supporters}}<p>{{first}} {{last}}</p>{{/supporters}}
</div>