<div class="placeholder">
<h2>Thank you,</h2>
<div class="signeeField">{{first}} {{last}} <img src="{{signature}}" alt="Your Signature"></div>
<h3>for supporting the simplification of German public transport networks.</h3>
<a href="./supporters"><button class="cta-button">See all {{numOfSigners}} other supporters.</button></a>
</div>
