
<h1>Thank you,</h1>
<div class="signeeField">
    <h2>{{first}} {{last}}</h2>
    <img src="{{signature}}" alt="Your Signature"  class="signature-image"></div>
<h2>for supporting the simplification of German public transport networks.</h2>
<a href="./supporters"><button class="cta-button">See all {{numOfSigners}} other supporters</button></a>

