
main {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.canvas {
    border: dashed black 3px;
    margin: 1rem 0;
    touch-action: none;
}

.invisible {
    display: none;
}

.red {
    color: rgb(211, 0, 0);
}

.bold {
    font-weight: 600;
}

.red-border {
    border: 3px solid rgb(211, 0, 0);
}


h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
    align-self: baseline;
}

h2 {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: justify;
}

h3 {
    font-size: 1.5rem;
}

form {
    padding: 1rem 0;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;
}

.signature {
    margin-top: 2rem;
}

.formlabel {
    padding-right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin-right: 2rem;
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
}

.submit,
.cta-button {
    margin: 2rem 0;
    font-size: 1.5rem;
    padding: 1rem;
    border: 3px solid black;

}

span {
    font-family: Arial, Helvetica, sans-serif;
}

.signature-image {
    margin: 2rem 0;
    width: 100%;
    height: auto;
}

.signers-list {
    margin: 2rem 0;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
}

button {
    cursor: pointer;
}

.petition-form {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 800px) {
    * {
        margin: 0;
        padding: 0;
        /* box-sizing: content-box; */
        font-family: "Bebas Neue", cursive;
        font-size: 18px;
    }

    body {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
    }

    main {
        width: 700px;
        max-width: 90%;
        background-color: rgba(255, 255, 255, 0.95);
        margin: 2rem;
        padding: 4rem;
        -webkit-box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.74);
        box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.74);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
    
@media screen and (max-width: 799px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: content-box;
        font-family: "Bebas Neue", cursive;
        font-size: 16px;
    }

    body {
        width: 100vw;
        min-height: 100vh;
        min-width:400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: auto;
    }

    main {
        max-width: 95%;

        background-color: rgba(255, 255, 255, 0.95);
        padding: 4rem;
        margin: 2rem;
        -webkit-box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.74);
        box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.74);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}